<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ready</title>
  <meta name="description" content="ready">
  <meta name="author" content="ready">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link href="bundle.css" rel="stylesheet">
</head>
<body>



  <section class="wrapper" id="app">
    <a href="/user"><img class="logo" src="images/logo_ready.png" alt=""></a>
    <div class="app-wrap">
    
          <div class="app">
         
          <div class="app--cards">
          </div>
          <div class="app--buttons">
            <div class="app--cancel">
              <img src="images/button_close2.png">
              <p>ไม่ ขอบคุณ</p>
            </div>
             <div class="app--sp">
              <img src="images/button_special.png">
              <p>ถูกใจเป็นพิเศษ</p>
            </div>
            <div class="app--accept">
             <img src="images/button_like.png">
             <p>ถูกใจ</p>
            </div>
          </div>
          <div class="app--restart hidden">
            restart
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    
function setMatch(type, block) {
  console.log(block);
  $.post('/match/matching', {
    id: block,
    type: type,
  }, function(res) {
    if (res.type == type) {
      top.location.href='/match/result/' + res.id + '/' + res.type;
    }
  }, 'json')
}


const cards = [
  {{#each users}}
  {
    id: '{{facebookid}}',
    img: '{{profile_url}}',
    name: '{{fullname}}',
    age: '{{age}}',
    location: '{{province}}'
  },
  {{/each}}
];
  </script>

  <script src="/scripts/card.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.0.0/polyfill.min.js"></script>
</body>
</html>
