
<body>
  <style>
    .app--cards {
    width: 240px;
    height: 280px;
}

.app--element {
  background-repeat: no-repeat;
  background-size: cover;
}
    .app--element { box-shadow: 0px 0px 0px;}
    .app--element img {
    width: 77%;
    margin-left: 15px;
}


  </style>
  <section class="wrapper" id="app">
    <a href="/user"><img class="logo" src="images/logo_ready.png" alt=""></a>
    <div class="app-wrap">
    
          <div class="app">
         
          <div class="app--cards">
          </div>
          <div class="app--buttons">
            <div class="app--cancel">
              <img src="images/button_close2.png">
              <p>ไม่ ขอบคุณ</p>
            </div>
             <div class="app--sp">
              <img src="images/button_special.png">
              <p>ถูกใจเป็นพิเศษ</p>
            </div>
            <div class="app--accept">
             <img src="images/button_like.png">
             <p>ถูกใจ</p>
            </div>
          </div>
          <div class="app--restart hidden">
            restart
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    
function setMatch(type, block) {
  $.post('/match/matching', {
    id: block,
    type: type,
  }, function(res) {
    if (res.type == type) {
      if (res.type =='sp') {
        if (res.coin == 0) {

        } else { 
           top.location.href='/match/result/' + res.id + '/' + res.type;
        }
      } else { 
        top.location.href='/match/result/' + res.id + '/' + res.type;
      }
      //alert('match');
    }
  }, 'json')
}

$(function() {
  $(".app--cancel, .app--sp, .app--accept").on("click", function() {
    setTimeout(function() {
      $(".app--cancel img, .app--sp img, .app--accept img").css('transform', 'scale(1)');
    }, 500);
  })
})


const cards = [
  {{#each users}}
  {
    id: '{{facebookid}}',
    img: '{{profile_url}}',
    name: ' {{fullname}}',
    age: '{{age}}',
    location: '{{province}}'
  },
  {{/each}}
];
  </script>

  <script src="/scripts/card.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.0.0/polyfill.min.js"></script>
</body>
</html>
